body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background-color: lightblue;
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 16px;
}

.description {
  background: lightblue;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.recipe-container {
  background: lightblue;
  text-align: center;
  padding: 8px;
}

.recipe-list {
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}

.lasagnaBody {
  background-color: aquamarine;
}